<div class="row">
    
    <div class="col-lg-1">
        <app-side-bar></app-side-bar>
    </div>
    
    <div class="col-lg-11">
        <p-table [value]="data" responsiveLayout="scroll" [tableStyle]="{'font-size':'12px'}">
            <ng-template pTemplate="caption">
                <div class="p-d-flex p-ai-center p-jc-between" style="font-size:12px">
                    Kandidati
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Ime</th>
                    <th>Prezime</th>
                    <th>JMBG</th>
                    <th>God rodnjenja</th>
                    <th>Email</th>
                    <th>Telefon</th>
                    <th>Napomena</th>
                    <th>Primljen</th>
                    <th>Datum izmene</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data>
                <tr>
                    <td>{{data.ime}}</td>
                    <td>{{data.prezime}}</td>
                    <td>{{data.jmbg}}</td>
                    <td>{{data.god_rodjenja}}</td>
                    <td>{{data.email}}</td>
                    <td>{{data.telefon}}</td>
                    <td>{{data.napomena}}</td>
                    <td>{{data.primljen}}</td>
                    <td>{{data.azuriran}}</td>

                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between" style="font-size:12px">
                    Ukupno {{data ? data.length : 0 }} kandidata.
                </div>
            </ng-template>
        </p-table>
    </div>

</div>